body {

    font-family: sans-serif;
    
  }


nav #logocorner {

  width: 65px;
}

 #navBar {
  background-color: #ffffff;
}

 #about1 {

 background-color: #c6eeda;
}


section #team {

  background-color: #d1f6e3;
}

#statistics {

  background-color: rgb(37, 43, 43);
  height: 100px;
}

#types {

  background-color: #ffffff;
 
}

#allcat {
margin-left: 10px;
 margin-bottom: 30px ;
 float: left;


}

#alldog {

margin-bottom: 30px ;
margin-right: 10px;
float: right;



}